<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313502846172-qbvopc5vq5bjumn84hfdkjfos0b0k0ej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313502846172-qbvopc5vq5bjumn84hfdkjfos0b0k0ej</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>313502846172-4d0kn81o4ih5lsc3670aqmeqb8afn284.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXH2M6HXtNnAk4Y8tLMyRYBd38ZcrN74U</string>
	<key>GCM_SENDER_ID</key>
	<string>313502846172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fj.salah.rakaat.tracker</string>
	<key>PROJECT_ID</key>
	<string>rakat-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>rakat-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313502846172:ios:644df5f22e0adedc6f7819</string>
</dict>
</plist>